 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <ul>
                        <li>퍼블리싱 (초급) : html, css 퍼블리싱</li>
                        <li>Fe 개발 (초급) : javascript, jqeury fe 프로그래밍</li>
                        <li>백앤드 개발 (초급) : java, spring, mybatis, sql, mysql 을 이용한 백앤드 개발.</li>
                        <li>Db 모델링 (초급)</li>
                        <li>VCS : git, github</li>
                        <li>개발툴 : 이클립스, Intellij</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <p>안녕하세요, 오름입니다. 코딩에 열의를 가지고 임하고 있습니다. 스프링에 대한 전반적인 교육을 마쳤으며, 미니 프로젝트를 통해 기본적인 기능을 다뤄본 경험이 있습니다. 아직 부족한 점이 많지만, 장차 개발자로 거듭나는게 목표입니다.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> PDF 파일 다운
                    </a>
                </div>
            </div>
        </div>
    </section>
